#main-div {
    width: 100%;
    margin-bottom: 10px;
    

}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#sidebar-div{
    width: 27%;
    min-height: 450px;
    background-color: white;
    float: left;
}
#body-div{
    width: 73%;
    min-height: 450px;
    background-color:white;
    float: right;
    font-size: 20px;
    background-color:lightblue;
    margin-top: 5px;
}
img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

  input,textarea {
    width: 500px; 
    padding: 12px;  
    margin-top: 6px; 
    margin-bottom: 16px; 
    font-size: 16px;
  }
  label{
    font-size: 20px;
    color: blue;
  }
  button {
    background-color:blueviolet;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  h1{
    text-align: center;
    color: brown;
  }
  .card1{
    width: 25%;
    min-height: 460px;
    float:left;
    width:20%;
    padding: 15px;
    margin: 5px;
    margin-top: 40px;
  }
  .k1{
    width: 100%;
    margin-bottom: 10px;
  }
  .k2{
    width: 75%;
    min-height: 450px;
    float:right;
  }
